In [2]:
import pandas as pd
# for requirements: install fastparquet 

import glob # not needed in requirements
import os # not needed in requirements

In [3]:
PATH_TOPO = '..\\..\\Data_Handover\\TOPO\\Lyon\\part-00000-2f038a97-7faf-46f3-aee2-b73b52bf2cba.snappy.parquet'

In [4]:
enb_df = pd.read_parquet(PATH_TOPO, engine='fastparquet')
enb_df

               LocInfo TECHNO       LON        LAT
0     8102f8100000ba1a     4G  4.805831  45.881115
1     8102f8100000ae6f     4G  5.103326  45.661649
2     8102f8100000b9fc     4G  5.006670  45.770836
3     8102f8100000999d     4G  4.888138  45.738378
4     8102f81000009baf     4G  4.889202  45.744970
...                ...    ...       ...        ...
9324  0102f810041ec940     3G  4.695403  45.642543
9325  0002f8100705368e     2G  4.849999  45.753893
9326  0002f810511084f7     2G  4.768475  45.784375
9327  0102f810041e6337     3G  4.865802  45.673625
9328  0002f810070436f7     2G  4.879442  45.786112

[9329 rows x 4 columns]

In [5]:
PATH_HO = '..\\..\\Data_Handover\\usersHandovers\\2019\\03\\16\\Lyon_HO_IN'

all_files = glob.glob(PATH_HO + "\\*.parquet")

li = []

for filename in all_files:
    df = pd.read_parquet(filename, engine='fastparquet')
    li.append(df)

frame = pd.concat(li, axis=0, ignore_index=True)
frame

          timeSlot        srcLocInfo        dstLocInfo  nbHO15
0       1552734000  8102f81000009986  8102f81000009991     171
1       1552753800  8102f810000099d1  8102f810000099ae    1508
2       1552757400  8102f8100000a481  8102f81000009c31     814
3       1552753800  8102f81000009de8  8102f81000009d5e     277
4       1552732200  8102f81000009952  8102f81000009975    1198
...            ...               ...               ...     ...
719641  1552759200  0002f8100704edda  0002f8100704512d       0
719642  1552759200  0002f81051100807  0002f81051053587       0
719643  1552746600  8102f8100000ba74  8102f8100000ba60       0
719644  1552770000  8102f810000099c9  8102f8100000babc       0
719645  1552734000  0002f81051109a04  0002f81051108452       0

[719646 rows x 4 columns]

In [6]:
src = '8102f81000009986'

enb_df[enb_df['LocInfo']==src]

              LocInfo TECHNO       LON        LAT
106  8102f81000009986     4G  4.876117  45.730001